[*.csproj]
tab_width = 2
indent_size = 2
end_of_line = crlf

[*.{cs,vb}]
csharp_using_directive_placement = inside_namespace:error
csharp_style_namespace_declarations = file_scoped:error
dotnet_style_readonly_field = true:error

dotnet_sort_system_directives_first = true